.detailContainer{
    background-color:black;
}
.teamInfo, img{
    width:100%;
    height:auto;
    padding:15px;
}
.teamInfo{
    background-color:rgb(202, 55, 55);
    color: white;
    border-radius: 23px;
    padding:10px;
}
.teamInfoData{
    text-align: center;
    
    margin-top: 40px;
    margin-right: auto;
}
.teamDescription{
    color: white;
}
.infoHeader img{
    width:100%;
    height:auto;
    opacity: .8;
}
.social{
    margin: 20px;
    padding-bottom: 20px;
}
ul a{
    margin:20px;
    font-size: 40px;
}