.detailContainer{
    background-color:black;
}
.teamInfo, img{
    width:100%;
    height:auto;
}
.teamInfo{
    background-color:rgb(202, 55, 55);
    color: white;
    border-radius: 23px;
    padding:10px;
}
.teamInfoData{
    align-items: center;
    justify-content:center;
    margin-top: 40px;
    margin-right: auto;
}
.teamDescription{
    color: white;
}
.infoHeader img{
    width:100%;
    height:auto;
    opacity: .8;
}
.social{
    margin: 20px;
    padding-bottom: 20px;
}
ul a{
    margin:20px;
}