.headerContainer{
    background-image: url(../Photo/bg1.jpg)  ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    opacity: .8;
    
}
@media only screen and(max-width:650px){
    .headerContainer{
        background-image: url(../Photo/bg1.jpg);
    }
}
.headerContainer h2{
    padding:150px 0px;
    color:white;
    font-size:3vw;
}